/* CSS declarations go here */

/*BOOTSTRAP OVERRIDES*/
.btn, .btn-lg, .input-lg, .form-control  {
	border-radius: 0;
}

.form-control {
	box-shadow: none;
}

.admin-login-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #e5e5e5;
	box-shadow: 0 0 5px 2px #ccc;
}

/*#F64638*/

/******** TOPBAR **********/
.topbar-row {
	border-bottom: 2px solid #eee;
	padding-top:10px;
	padding-bottom: 10px;
}

.topbar-logo {
	padding: 0;
	margin:0;
}

.topbar-list {
	margin-bottom: 0;
}

.topbar-link {
	font-size: 18px;
	font-weight: 300;
	color: #ccc;
}

.topbar-link:hover {
	color: #F64638;
	text-decoration: none;
}