/* CSS declarations go here */

/*MAIN COLOR:#f64638;
/*SHADE DARKER:#dd3f32;
/*SHADE LIGHTER:#f6584b;


/*BOOTSTRAP OVERRIDES*/
@font-face{
	font-family: 'chunkfive';
	src: url('./fonts/chunkfive.otf');
}


h1,h2 {
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.btn, .btn-lg, .input-lg, .form-control  {
	border-radius: 0;
}

.form-control {
	box-shadow: none;
}

.admin-login-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #e5e5e5;
	box-shadow: 0 0 5px 2px #ccc;
}

/***** GENERAL ******/

.orange {
	color: #f64638;
}

.subtext {
	font-style: italic;
	font-size: 12px;
	color: #aaa;
}


/*#F64638*/

/******** TOPBAR **********/
.topbar-row {
	border-bottom: 2px solid #eee;
	padding-top:10px;
	padding-bottom: 10px;
}

.topbar-logo {
	padding: 0;
	margin:0;
}

.topbar-list {
	margin-bottom: 0;
}

.topbar-link {
	font-size: 18px;
	font-weight: 300;
	color: #aaa;
}

.topbar-link:hover {
	color: #F64638;
	text-decoration: none;
}


/****** PANEL 1 ********/

.btn-call-to-action {
	background: #F64638;
	color: #ffffff;
	border:1px solid #dd3f32;
	font-size: 24px;
}

.btn-call-to-action:hover {
	background: #38e8f6;
	color: #ffffff;
	border:1px solid #32d0dd;
	font-size: 24px;
}

/******* DIVIDERS *******/
.divider {
	padding: 30px 0;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	background: url('./images/bg-shadow.png') no-repeat top center;
}

.divider-h2 {
	font-family: "chunkfive", "Helvetica Neue", "Helvetica", sans-serif;
	color: #333;
	margin:0;
	text-align: center;
}

/*.divider-one {
	background: #F64638;
	border-color: #dd3f32;
	background: url('./images/bg-shadow.png') no-repeat top center;
}

.divider-two {
	background: #38e8f6;
	border-color: #32d0dd;
}

.divider-three {
	background: #39B54A;
	border-color: #39A949;
}

.divider-four {
	background: #008FB5;
	border-color: #0085B5;
}*/

/****** PANEL 2 *******/

.word {
	color: #f64638;
	border-bottom: 2px dotted #38e8f6;
}

.featureset-img {
	width:300px;
}

/****** FOOTER ******/

.footer {
	padding-top: 15px;
	background: #f64638;
	color: #ffffff;
	border-top:1px solid #dd3f32;
}

.social-img {
	-webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

.social-img:hover, .social-img:active {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.0));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}
